# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nmm_db?schema=public"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Paystack (Get these from your Paystack Dashboard)
PAYSTACK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_..."

# Authentication (Optional - for Admin Dashboard)
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"
